.new
{
   width:50%;
    margin-left: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: lightblue;
    border: 3px solid black;
    padding: 4px;
    z-index: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.heading
{
    font-size: 28px;
    text-align: center;
}
.form-group
{
  margin-top: 8px;
}

label
{
  font-size: 21px;
  line-height: 1em;
  
}
.search {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search input {
	flex-grow: 5;
}
.search button {
	flex-grow: 1;
	background-color: #f8c453;
}
.form-control
{
  font-size: 1.3em;
  color: #080808;
}
.submit
{
    font-size: 1.1em;
    margin-top: 15px;
    width:28%;
    color: black;
    position: relative;
    left:35%;
    background-color: lightsalmon;
}
#last
{
  display: none;
}
#detailTable
{
  background-color:white;
}
.thanks
{
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
}
.c1
{
    position: relative;
    animation-name: changebg;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: rgb(255, 102, 102);
    border-radius: 5px;
}